<footer>
    <div id="footer">
        <div class="f-link">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </div>
        <div class="f-brand">
            <p>&copy; An app made by pratikk with &hearts;</p>
        </div>
        <div class="f-pr-ter">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>