<% layout("/layouts/boilerplate") %>

    <body>

        <div class="row">
            <div class="col-8">
                <h1>Create a new list here</h1>
                <form method="POST" action="/listings" novalidate class="needs-validation"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title :</label>
                        <input name="title" placeholder="Enter title" id="title" class="form-control" required>
                        <div class="valid-feedback">
                            Title looks good !!
                        </div>
                        <div class="invalid-feedback">
                            Please type a title !!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description :</label>
                        <textarea name="description" placeholder="Enter desc." id="desc" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">
                            Enter a short description.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="img" class="form-label">Image file here :</label>
                        <input name="file" placeholder="Enter link" id="img" class="form-control" type="file">
                    </div>
                    <div class="row">
                        <div class="mb-3">
                            <label for="pri" class="form-label">Price :</label>
                            <input name="price" type="text" placeholder="Enter price" id="pri" class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Please choose a valid price.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Loc" class="form-label">Loaction :</label>
                            <input name="location" placeholder="Enter location" id="loc" class="form-control" required>
                            <div class="invalid-feedback">
                                Please choose a valid location.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Coun" class="form-label">Country :</label>
                        <input name="country" placeholder="Enter country" id="coun" class="form-control" required>
                        <div class="invalid-feedback">
                            Please choose a valid country.
                        </div>
                    </div>
                    <h5>Select cateogories</h5>
                    <div class="container checks">
                        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off" value="Eatables" name="eatables">
                        <label class="btn btn-outline-success" for="btn-check-outlined">Eatables</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 1" autocomplete="off" value="Castle" name="Castle">
                        <label class="btn btn-outline-success" for="btn-check-outlined 1">Castles</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 2" autocomplete="off" value="Golf" name="Golf">
                        <label class="btn btn-outline-success" for="btn-check-outlined 2">Golf</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 3" autocomplete="off" value="Pools" name="Pools">
                        <label class="btn btn-outline-success" for="btn-check-outlined 3">Pools</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 4" autocomplete="off" value="Beach" name="Beach">
                        <label class="btn btn-outline-success" for="btn-check-outlined 4">Beach</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 5" autocomplete="off" value="Parks" name="Parks">
                        <label class="btn btn-outline-success" for="btn-check-outlined 5">Parks</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 6" autocomplete="off" value="Rooms" name="Rooms">
                        <label class="btn btn-outline-success" for="btn-check-outlined 6">Rooms</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 7" autocomplete="off" value="Camp" name="Camp">
                        <label class="btn btn-outline-success" for="btn-check-outlined 7">Camp</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 8" autocomplete="off" value="Boats" name="Boats">
                        <label class="btn btn-outline-success" for="btn-check-outlined 8">Boats</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 9" autocomplete="off" value="Play" name="Play">
                        <label class="btn btn-outline-success" for="btn-check-outlined 9">Play</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 10" autocomplete="off" value="Towers" name="Towers">
                        <label class="btn btn-outline-success" for="btn-check-outlined 10">Towers</label>
                        <input type="checkbox" class="btn-check" id="btn-check-outlined 11" autocomplete="off" value="Mountain" name="Mountain">
                        <label class="btn btn-outline-success" for="btn-check-outlined 11">Mountain</label>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>

    </body>